</html>

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>アカウント作成画面</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
</head>

<body>
    <div class="container">
		<form th:action="@{/admin/signup}" th:object="${admin}" method="post">
	        <div class="form-group">
				<label>姓</label>
				<input type="text" th:field="*{last_name}">
				<div th:if="${#fields.hasErrors('last_name')}" th:errors="*{last_name}" class="error-message"></div>
	        </div>			
			<div class="form-group">
	            <label>名</label>
	            <input type="text" th:field="*{first_name}">
	            <div th:if="${#fields.hasErrors('first_name')}" th:errors="*{first_name}" class="error-message"></div>
	        </div>			
			<div class="form-group">
	            <label>メールアドレス</label>
	            <input type="text" th:field="*{email}">
	            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error-message"></div>
	        </div>			
			<div class="form-group">
	            <label>パスワード</label>
	            <input type="text" th:field="*{password}">
	            <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error-message"></div>
	        </div>			
			<div class="signup-button-container">
	            <button type="submit" th:text="${admin.id} != null ? 'ログイン' : '作成してログインへ'">作成してログインへ</button>
			</div>
		</form>
    </div>
    <script th:src="@{/js/common.js}"></script>
</body>

</html>